.sliderWrap {
    padding: 10px 0 10px 0;
}

.sliderLabel {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #808080;
}
.sliderLabel span:first-child {
    font-weight: bold;
    width: 200px;
    display: inline-block;
}

.slider {
    appearance: none;
    outline: none;
    height: 1px;
    display:block;
    width: 200px;
    margin: 10px 0 0 0;
    -webkit-appearance: none;
    width: 100%;
    /*transform: rotate(90deg);*/
}
.slider[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 18px;
    width: 18px;
    cursor: pointer;
    border-radius: 9px;
    border: 1px solid #fff;
    background-color: #000;
}

.slider::-webkit-slider-thumb:hover {
    background-color:#28EBCC;
    box-shadow: 0px 0px 10px 4px rgba(40,235,204,0.3);
}

.slider[type="range"]::-moz-range-thumb {
    appearance: none;
    border-radius: 0;
    border: none;
    height: 18px;
    width: 18px;
    cursor: pointer;
    border-radius: 9px;
    border: 1px solid #fff;
    background-color: #000;
}

.slider::-moz-range-thumb:hover {
    background-color:#28EBCC;
    box-shadow: 0px 0px 10px 4px rgba(40,235,204,0.3);
}

.slider {
    height: 1px;
    background-color: #ccc;
}