/*!**********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/webosc-repeater/_c/components/slider/slider.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************/
.slider_sliderWrap__D2axG {
    padding: 10px 0 10px 0;
}

.slider_sliderLabel__8seT4 {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #808080;
    font-family: Arial, Helvetica, sans-serif;
}
.slider_sliderLabel__8seT4 span:first-child {
    font-weight: bold;
    width: 200px;
    display: inline-block;
}

.slider_slider__NrVfz {
    -moz-appearance: none;
         appearance: none;
    outline: none;
    height: 2px;
    display:block;
    width: 200px;
    margin: 10px 0 0 0;
    -webkit-appearance: none;
    width: 100%;
    /*transform: rotate(90deg);*/
}
.slider_slider__NrVfz[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 8px;
    cursor: pointer;
    border-radius: none;
    background-color: #ccc;
    border-right: 2px solid #666;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #666;
}

.slider_slider__NrVfz::-webkit-slider-thumb:hover {
    background-color:#28EBCC;
    border-bottom: 2px solid #126B5C;
    border-right: 2px solid #126B5C;
    border-top: 2px solid #D1EFED;
    border-left: 2px solid #D1EFED;
    box-shadow: 0px 0px 10px 4px rgba(40,235,204,0.3);
}

.slider_slider__NrVfz[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
         appearance: none;
    border-radius: 0;
    border: none;
    height: 14px;
    width: 8px;
    cursor: pointer;
    border-radius: none;
    background-color: #ccc;
    border-right: 2px solid #666;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #666;
}

.slider_slider__NrVfz::-moz-range-thumb:hover {
    background-color:#28EBCC;
    border-bottom: 2px solid #126B5C;
    border-right: 2px solid #126B5C;
    border-top: 2px solid #D1EFED;
    border-left: 2px solid #D1EFED;
    box-shadow: 0px 0px 10px 4px rgba(40,235,204,0.3);
}

.slider_slider__NrVfz {
    height: 1px;
    background-color: #ccc;
    border-right: 2px solid #fff;
    border-top: 2px solid #666;
    border-left: 2px solid #666;
    border-bottom: 2px solid #fff;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/webosc-repeater/_c/components/radioGroup/radioGroup.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************/
.radioGroup_radio-group-option__iPrYn {
    display: inline-block;
}

.radioGroup_radio-group-option__iPrYn input {
    display: none;
}

.radioGroup_radio-group-option__iPrYn input:checked + label {
    border-top: 2px solid #fff; /* Darker Gray */
    border-left: 2px solid #fff; /* Darker Gray */
    border-bottom: 2px solid #5ed55e;
    border-right: 2px solid #5ed55e;
    background-color: lightgreen;
    color: #fff;
    text-shadow: 1px 1px 3px #5ed55e;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.2), 0 0 10px rgba(0, 255, 0, 0.2), 0 0 20px rgba(0, 255, 0, 0.2), 0 0 20px rgba(144, 238, 144, 0.2);
}

.radioGroup_radio-group-option__iPrYn label {
    padding: 2px 4px;
    color: #808080;
    background-color: #C0C0C0; /* Gray */
    border-top: 2px solid #808080; /* Darker Gray */
    border-left: 2px solid #808080; /* Darker Gray */
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    cursor: pointer;
    outline: none;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/webosc-repeater/_c/components/power/power.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************/
.power_power__Coref {
    width: 60px;
    height: 30px;
    color: #808080;
    background-color: #C0C0C0; /* Gray */
    border-top: 2px solid #808080; /* Darker Gray */
    border-left: 2px solid #808080; /* Darker Gray */
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    cursor: pointer;
    outline: none;
}
    
.power_power__Coref.power_ON__4yWC6 {
    border-top: 2px solid #fff; /* Darker Gray */
    border-left: 2px solid #fff; /* Darker Gray */
    border-bottom: 2px solid #5ed55e;
    border-right: 2px solid #5ed55e;
    background-color: lightgreen;
    color: #fff;
    text-shadow: 1px 1px 3px #5ed55e;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.2), 0 0 10px rgba(0, 255, 0, 0.2), 0 0 20px rgba(0, 255, 0, 0.2), 0 0 20px rgba(144, 238, 144, 0.2);
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/webosc-repeater/_c/components/synthModule/synthModule.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************/
.synthModule_module__tiCWF {
    max-width: 360px;
    background-color: #ccc;
    border-right: 2px solid #666;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #666;
    padding: 20px;
}
.synthModule_knob__XXhWZ {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .synthModule_module__tiCWF {
        max-width: 500px;
        width: 100%;
    }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/webosc-repeater/_c/app.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.app_modules__VT7bA {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 60px;
}

@media (max-width: 768px) {
    .app_modules__VT7bA {
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
