.radio-group-option {
    display: inline-block;
}

.radio-group-option input {
    display: none;
}

.radio-group-option input:checked + label {
    border-top: 2px solid #fff; /* Darker Gray */
    border-left: 2px solid #fff; /* Darker Gray */
    border-bottom: 2px solid #5ed55e;
    border-right: 2px solid #5ed55e;
    background-color: lightgreen;
    color: #fff;
    text-shadow: 1px 1px 3px #5ed55e;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.2), 0 0 10px rgba(0, 255, 0, 0.2), 0 0 20px rgba(0, 255, 0, 0.2), 0 0 20px rgba(144, 238, 144, 0.2);
}

.radio-group-option label {
    padding: 2px 4px;
    color: #808080;
    background-color: #C0C0C0; /* Gray */
    border-top: 2px solid #808080; /* Darker Gray */
    border-left: 2px solid #808080; /* Darker Gray */
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    cursor: pointer;
    outline: none;
}