.power {
    font-size: 1rem;
    text-transform: uppercase;
    height: 30px;
    color: #808080;
    background-color: #C0C0C0; /* Gray */
    cursor: pointer;
    outline: none;
    padding: 3px 10px;
    min-width: 60px;
    border: none;
}
    
.power.ON {
    background-color: lightgreen;
    color: #fff;
    text-shadow: 1px 1px 3px #5ed55e;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.2), 0 0 10px rgba(0, 255, 0, 0.2), 0 0 20px rgba(0, 255, 0, 0.2), 0 0 20px rgba(144, 238, 144, 0.2);
}
